# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# SQLite / local databases
*.db
*.sqlite
*.sqlite3

# Project data (tu carpeta data)
data/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Testing / cache
.pytest_cache/
.coverage

# Build / packaging
dist/
build/
*.egg-info/


__pycache__/
*.pyc
.venv/
data/
.env
.pytest_cache/
